<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Search Tours - Your Travel Agency</title>

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
    />
  </head>
  <body>
    <div class="container" id="search-tours">
      <div class="row">
        <div class="col-md-3">
          <h1>Find Your Perfect Tour</h1>
          <div class="tourmaster-tour-search-item-wrap">
            <form
              class="tourmaster-form-field tourmaster-with-border"
              action="#"
              method="GET"
            >
              <div
                class="tourmaster-tour-search-field tourmaster-tour-search-field-keywords"
              >
                <label>Keywords</label>
                <input
                  name="tour-search"
                  type="text"
                  placeholder="Enter keywords..."
                />
              </div>
              <div class="tourmaster-type-filter-item">
                <h5>Category</h5>
                <label>
                  <input
                    type="checkbox"
                    name="tax-tour_category[]"
                    value="popular-tour"
                  />
                  Popular Tour
                </label>
              </div>
              <div
                class="tourmaster-tour-search-field tourmaster-tour-search-field-duration"
              >
                <label>Duration</label>
                <select name="duration">
                  <option value="">Any</option>
                  <option value="1">1 Day Tour</option>
                  <option value="2">2-4 Days Tour</option>
                  <option value="5">5-7 Days Tour</option>
                  <option value="7">7+ Days Tour</option>
                </select>
              </div>
              <div
                class="tourmaster-tour-search-field tourmaster-tour-search-field-date"
              >
                <label>Date</label>
                <input
                  class="tourmaster-datepicker"
                  type="text"
                  placeholder="Select date"
                />
              </div>
              <div
                class="tourmaster-tour-search-field tourmaster-tour-search-field-min-price"
              >
                <label>Min Price</label>
                <input name="min-price" type="text" placeholder="0" />
              </div>
              <div
                class="tourmaster-tour-search-field tourmaster-tour-search-field-max-price"
              >
                <label>Max Price</label>
                <input name="max-price" type="text" placeholder="1000" />
              </div>
              
              <div class="tourmaster-tour-search-item-divider"></div>
             
              <input
                class="tourmaster-tour-search-submit"
                type="submit"
                value="Search"
              />
            </form>
          </div>
        </div>

        <div class="col-md-8" id="tour-results">
          <h1>9 Results</h1>

          <div class="tour-list" id="tour-list">
            <article class="tour-item">
              <img
                src="https://media.istockphoto.com/id/1471856897/photo/ulun-danu-beratan-temple-bali-indonesia.jpg?s=1024x1024&w=is&k=20&c=YOPFJyOQ9WuMaTaWH3yOuWDk7QJBgUHzLNaU9iVz1MA="
                alt="Bali Adventure"
              />
              <h3>Bali Adventure</h3>
              <p>Duration: 5 Days</p>
              <p>Price: $499</p>
              <p>Discover the beauty of Bali's beaches and culture.</p>
              <a href="#" class="btn">Book Now</a>
            </article>
            <article class="tour-item">
              <img
                src="https://media.istockphoto.com/id/2153241839/photo/traveler-woman-in-an-arctic-rib-boat-safari-in-longyearbyen-svalbard.jpg?s=1024x1024&w=is&k=20&c=C2VkKG8788Ksd-m8RgtZLs7ZDb85uq3KK16QVANtooQ="
                alt="European Escape"
              />
              <h3>European Escape</h3>
              <p>Duration: 10 Days</p>
              <p>Price: $1,199</p>
              <p>
                Explore iconic cities and breathtaking landscapes across Europe.
              </p>
              <a href="#" class="btn">Book Now</a>
            </article>
            <article class="tour-item">
              <img
                src="https://media.istockphoto.com/id/1266946595/photo/spotted-deer-axis-axis-dhikala-jim-corbett-national-park-uttrakhand-india.jpg?s=1024x1024&w=is&k=20&c=4OyxCfyJ0oQ8DS-nc6ucNTu3ayz_V-zpUSFKgvRe97Y="
                alt="Safari Experience"
              />
              <h3>Safari Experience</h3>
              <p>Duration: 7 Days</p>
              <p>Price: $899</p>
              <p>Experience the thrill of an African safari adventure.</p>
              <a href="#" class="btn">Book Now</a>
            </article>
            <article class="tour-item">
              <img
                src="https://media.istockphoto.com/id/1463056175/photo/asian-chinese-tourists-riding-on-dromedary-camel-train-crossing-sahara-desert-morocco-led-by.jpg?s=1024x1024&w=is&k=20&c=P51H9XapvC8q7Uv3t4xwMXVsvDrAazyIdrAi-0Antfc="
                alt="Tropical Paradise"
              />
              <h3>Tropical Paradise</h3>
              <p>Duration: 7 Days</p>
              <p>Price: $799</p>
              <p>Relax in the tropical sun and enjoy luxury.</p>
              <a href="#" class="btn">Book Now</a>
            </article>
            <article class="tour-item">
              <img
                src="https://media.istockphoto.com/id/1463056175/photo/asian-chinese-tourists-riding-on-dromedary-camel-train-crossing-sahara-desert-morocco-led-by.jpg?s=1024x1024&w=is&k=20&c=P51H9XapvC8q7Uv3t4xwMXVsvDrAazyIdrAi-0Antfc="
                alt="Tropical Paradise"
              />
              <h3>Himalayan Trek</h3>
              <p>Duration: 12 Days</p>
              <p>Price: $1,499</p>
              <p>
                Experience breathtaking views and thrilling trails in the
                Himalayas.
              </p>
              <a href="#" class="btn">Book Now</a>
            </article>
            <article class="tour-item">
              <img
                src="https://media.istockphoto.com/id/1463056175/photo/asian-chinese-tourists-riding-on-dromedary-camel-train-crossing-sahara-desert-morocco-led-by.jpg?s=1024x1024&w=is&k=20&c=P51H9XapvC8q7Uv3t4xwMXVsvDrAazyIdrAi-0Antfc="
                alt="Tropical Paradise"
              />
              <h3>Beach Getaway</h3>
              <p>Duration: 5 Days</p>
              <p>Price: $399</p>
              <p>Unwind at stunning beaches and enjoy relaxation.</p>
              <a href="#" class="btn">Book Now</a>
            </article>
            <article class="tour-item">
              <img
                src="https://media.istockphoto.com/id/1463056175/photo/asian-chinese-tourists-riding-on-dromedary-camel-train-crossing-sahara-desert-morocco-led-by.jpg?s=1024x1024&w=is&k=20&c=P51H9XapvC8q7Uv3t4xwMXVsvDrAazyIdrAi-0Antfc="
                alt="Tropical Paradise"
              />
              <h3>Rome Historical Tour</h3>
              <p>Duration: 4 Days</p>
              <p>Price: $699</p>
              <p>Explore the rich history and culture of Rome.</p>
              <a href="#" class="btn">Book Now</a>
            </article>
            <article class="tour-item">
              <img
                src="https://media.istockphoto.com/id/1463056175/photo/asian-chinese-tourists-riding-on-dromedary-camel-train-crossing-sahara-desert-morocco-led-by.jpg?s=1024x1024&w=is&k=20&c=P51H9XapvC8q7Uv3t4xwMXVsvDrAazyIdrAi-0Antfc="
                alt="Tropical Paradise"
              />
              <h3>Great Wall Adventure</h3>
              <p>Duration: 3 Days</p>
              <p>Price: $499</p>
              <p>Walk along the historic Great Wall of China.</p>
              <a href="#" class="btn">Book Now</a>
            </article>
            <article class="tour-item">
              <img
                src="https://media.istockphoto.com/id/1463056175/photo/asian-chinese-tourists-riding-on-dromedary-camel-train-crossing-sahara-desert-morocco-led-by.jpg?s=1024x1024&w=is&k=20&c=P51H9XapvC8q7Uv3t4xwMXVsvDrAazyIdrAi-0Antfc="
                alt="Tropical Paradise"
              />
              <h3>Desert Safari</h3>
              <p>Duration: 6 Days</p>
              <p>Price: $899</p>
              <p>Experience the thrill of a desert safari adventure.</p>
              <a href="#" class="btn">Book Now</a>
            </article>
          </div>
          <button id="next-button" class="btn">Next</button>
        </div>
      </div>
    </div>
  </body>
</html>
