
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
<header>
    <div class="icon-bar">
        <a class="active" routerLink="/">
            <i class="fa fa-home"></i>
            <span>Home</span>
        </a>
        <a routerLink="/destinations">
            <i class="fa fa-plane"></i>
            <span>Destinations</span>
        </a>
        <a href="#">
            <i class="fa fa-search"></i>
            <span>Search</span>
        </a>
        <a routerLink="/blogs">
            <i class="fa fa-book"></i>
            <span>Blogs</span>
        </a>
        <a routerLink="/auth/login">
            <i class="fa fa-user-circle"></i>
            <span>Profile</span>
        </a>
    </div>
</header>
